:root {
    /* Fonts */
    --font-family-accent: 'Bergamasco', sans-serif;
    --font-family-base: 'Inter', sans-serif;

    /* BG-Color */
    --bg-soft: #eef4ff;
    --bg-paper: #f8fafc;
    --bg-dark: #131a3a;
    --bg-white: #ffffff;

    /* Text-Color */
    
    --text-dark: #18214a;
    --text-body: #2f385e;
    --text-light: rgba(255, 255, 255, 0.86);
    
    --accent: #ffa361;
    --accent-deep: #f28e4f;

    --shadow-button: 0 10px 22px rgba(10, 16, 38, 0.18);

    --radius-lg: 24px;
    --radius-md: 14px;
    --radius-sm: 8px;
    --border-bottom: 1px solid rgba(19, 21, 70, 1);
}